<template lang="pug">
	section#services(:class='$style.services' :key='$i18n.locale')
		layout-waves(:params='{color: "hsl(0, 0%, 100%)", index: 6, height: 213, revert: true }')
		ui-container(:class='$style.container')
			ui-headline {{ params.title }}
			div(v-for='(item, index) in params.items')
				ui-hr(v-if='index !== 0')
				home-services-item(
					:key='index'
					:item='item'
				)
			div(
				v-if='params.gift'
				:class='$style.gift'
			)
				ui-headline {{ params.gift.title }}
				ui-row
					ui-grid(:sm="6")
					ui-grid(:sm="12")
						div(
							:data-fancybox='`gallery_${_uid}`'
							:data-src='require("@/assets/images/certificates/IMG_6121.jpg")'
						)
							ui-image(
								:images='{\
									picture: require("@/assets/images/certificates/IMG_6121.jpg")\
								}'
								:title='params.gift.title'
								:alt='params.gift.title'
							)
</template>

<script>
export default {
	data() {
		return {
			params: this.$i18n.messages[this.$i18n.locale].services
		};
	}
};
</script>

<style lang="scss" module>
.services {
	position: relative;
	z-index: 3;

	.container {
		padding: {
			top: 1%;
			bottom: 12%;
		}
	}
}

.gift {
	padding: {
		top: 8%;
	}
}

</style>
