<template lang="pug">
	ui-background(
		:class='[$style.header, ($route.path === "/" || $route.path === "/ru" || $route.path === "/ru/") && $style.home]'
		gradient=' linear-gradient(45deg, rgba(255, 182, 182, .86) 0%, rgba(156, 153, 225, .95) 100%)'
		:images='{\
			picture: require("@/assets/images/IMG_7125.png")\
		}'
	)
		ui-container
			h1(:class='$style.header__title' v-html='title')
			ui-hr(:white='true')
			div(:class='$style.header__description')
				slot
</template>

<script>
export default {
	props: {
		title: String
	}
};
</script>

<style lang="scss" module>
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 220px);
	padding: {
		top: 6%;
		bottom: 8%;
	}
	background: {
		position: center;
		size: cover;

		// image: linear-gradient(45deg, hsla(11, 15%, 79%, .4) 0%, rgba(156, 153, 225, .4) 100%);
	}

	@include b-up(md) {
		min-height: calc(100vh - 160px);
	}

	&.home {
		min-height: calc(100vh - 80px);
	}

	&__title {
		color: var(--white);

		font: {
			size: 36px;
			weight: 900;
		}
		text: {
			align: center;
			transform: uppercase;
		}

		@include b-up(md) {
			font: {
				size: 60px;
			}
		}
	}

	&__description {
		color: var(--white);
		font: {
			size: 24px;
			weight: 700;
		}
		text: {
			align: center;
		}
	}
}
</style>
