<template lang="pug">
	div(:class='$style.lang')
		template(v-for="(locale, key, index) in availableLocales")
			nuxt-link(
				v-if='locale.code !== $i18n.locale'
				:key="locale.code"
				:exact-active-class='$style["is-active"]'
				:to="switchLocalePath(locale.code)"
				:class='$style.lang__item'
				:title='locale.code'
			) {{ locale.code.toUpperCase() }}
			//- span(
				v-if='key + 1 < items'
				:class='$style.lang__separator'
				) /
</template>

<script>
export default {
	computed: {
		availableLocales() {
			return this.$i18n.locales;
		},
		items() {
			return Object.keys(this.$i18n.locales).length;
		}
	}
};
</script>

<style lang="scss" module>
.lang {
	@include border(left, var(--secondary));

	display: flex;
	align-items: center;

	margin: {
		left: 24px;
	}

	padding: {
		left: 24px;
	}

	font: {
		weight: 500;
		size: 18px;
	}

	@include b-down(sm) {

		margin: {
			left: 16px;
		}

		padding: {
			right: 16px;
			left: 16px;
		}

		@include border(right, var(--secondary));
	}

	&__item {
		cursor: pointer;
	}
}

</style>
