$colors: (
	// 'main': hsl(339, 100%, 95%),
	'main': hsl(208, 100%, 92%),
	'secondary': hsl(208, 100%, 27%),
	'black': hsl(0, 0%, 20%),
	'white': hsl(0, 0%, 100%)
);
$grid-breakpoints: (
	xs: 0,
	sm: 640px,
	md: 961px,
	lg: 1200px,
	xl: 1599px,
	xxl: 1920px,
);
$grid-columns: 24;
$grid-gutter-width: 8px;
$time: 300ms;
