<template lang="pug">
	section#certificates(:class='$style.gallery')
		layout-waves(:params='{color: "#def0ff", index: 4, height: 242, revert: true }')
		ui-container(:class='$style.container')
			ui-headline {{ params.title }}
			ui-row
				ui-grid(
					v-if='params.images.length === 1'
					:md='6'
				)
				ui-grid(
					v-for='(item, index) in params.images'
					:key='index'
					:class='$style.services__item'
					:md='12'
				)
					ui-background(
						:class='$style.gallery__item'
						:images='{\
							picture: require("@/assets/images/certificates/" + item + ".jpg")\
						}'
						:data-fancybox='`gallery_${_uid}`'
						:data-src='require("@/assets/images/certificates/" + item + ".jpg")'
					)
</template>

<script>
export default {
	data() {
		return {
			params: this.$i18n.messages[this.$i18n.locale].certificates
		};
	}
};
</script>

<style lang="scss" module>
.gallery {
	background: {
		color: color.scale(map.get($colors, 'main'), $lightness: 20%);
	}

	.container {
		padding: {
			top: 1%;
			bottom: 4%;
		}
	}

	&__item {
		height: 0;
		padding: {
			bottom: 75%;
		}

		cursor: zoom-in;
		margin: {
			bottom: 16px;
		}
		background: {
			position: center;
			size: cover;
		}
	}
}
</style>
