<template lang="pug">
	picture(@click='$emit("click")')
		source(v-if='images.webp' ref='webp' :srcset='preloader' type="image/webp")
		source(ref='picture' :srcset='preloader' :type="mimeType")
		img(
			v-bind='$attrs'
			:src='preloader'
			:class='$style.img'
			:width='width'
			:height='height'
			:title='title'
			:alt='alt'
		)
</template>

<script>
export default {
	/**
	 * @description props.images - масив зображень
	 * @description props.images.picture - зображення png/jpeg
	 * @description props.images.webp - зображення webp
	 * @description props.width - ширина
	 * @description props.height - висота
	 * @description props.title - висота
	 * @description props.alt - висота
	 */
	props: {
		images: Object, // масив зображень, picture - зображення png/jpeg, webp - зображення webp
		width:  {
			type:     [ String, Number ],
			default() {
				return 30; // ширина зображення
			}
		},
		height:  {
			type:     [ String, Number ],
			default() {
				return 30; // висота зображення
			}
		},
		title: {
			type:     String,
			required: true
		},
		alt:   {
			type:     String,
			required: true
		}
	},

	/**
	 * @returns {object} - data
	 * @description load - статус завантаження зображень
	 * @description mimeType - mime тип файлу
	 * @description preloader
	 */
	data() {
		return {
			load:              false,
			mimeType:          this.images.picture.includes('.png') ? 'image/png' : 'image/jpeg',
			lazyImageObserver: null,
			preloader:         'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQqNCw0YBfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwIiB5PSIwIiB2aWV3Qm94PSIwIDAgMTAwIDEiIHhtbDpzcGFjZT0icHJlc2VydmUiLz4='
		};
	},
	mounted() {
		this.init();
	},
	destroyed() {
		this.lazyImageObserver && this.lazyImageObserver.disconnect();
	},
	methods: {
		/**
		 * @description ініціалізація "лінивого" звантаження
		 */
		init() {
			this.lazyImageObserver
				= new IntersectionObserver(entries => {
					if (entries[0].isIntersecting) {
						const lazyImage = entries[0].target;
						const webp = lazyImage.type === 'image/webp';

						lazyImage.srcset = webp ? this.images.webp : this.images.picture;
						this.lazyImageObserver.unobserve(lazyImage);
						if (!webp) this.load = true;
					}
				}, {
					threshold: 0.1
				});

			this.$nextTick(() => {
				this.$refs.webp && this.lazyImageObserver.observe(this.$refs.webp);
				this.lazyImageObserver.observe(this.$refs.picture);
			});
		}
	}
};
</script>

<style lang="scss" module>
.img {
	display: block;
	width: 100%;
	height: auto;
}
</style>
