<template lang="pug">
	div
		layout-header(:title='title[$i18n.locale]')
		home-services
		home-portfolio
		home-faq
		home-certificates
</template>

<script>

/**
 * @summary домашня сторінка (в роботі)
 */
export default {
	name:   'Home',
	data() {
		return {
			title: {
				ua: 'Зберігаю ваші неповторні моменти',
				ru: 'Сохраняю ваши неповторимые моменты'
			}
		};
	},
	head() {
		return this.$i18n.messages[this.$i18n.locale].head;
	}
};
</script>
